/* Font */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/* Reset */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

/* general */
body {
  font-family: "Roboto", sans-serif;
}

/* Header */
#head {
  background-color: black;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
}

.head__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1080px;
  margin: 0 auto;
  padding: 15px 0;
}

.nav__title span {
  display: block;
  font-size: 2rem;
  color: #ff9985;
}

.nav__list {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 20px;
  list-style: none;
  text-transform: uppercase;
}

.nav__list a {
  text-decoration: none;
  color: white;
}

.nav__list a:hover {
  border-bottom: 3px solid #ff9985;
}

/* hero */
#hero {
  color: white;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(/assets/arnold-francisca-FBNxmwEVpAc-unsplash.jpg) center no-repeat;
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  max-width: 1080px;
  margin: 0 auto;
}

.hero__title {
  font-size: 2rem;
}

.hero__title span {
  display: block;
  color: #ff9985;
  text-transform: capitalize;
}

.hero__subTitle {
  margin-top: 50px;
}

.hero__subTitle a {
  background-color: #050100;
  color: #ff9985;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  border: 1px solid white;
  border-radius: 20px;
  padding: 10px 15px;
}

/* Projects */
